# Joomla
administrator/cache/*
administrator/logs/*
cache/*
tmp/*
images/*
!images/index.html
!images/banners/index.html
!images/headers/index.html
!images/sampledata/index.html
media/*
!media/index.html
!media/mod_jembedvideo
plugins/*
!plugins/index.html
templates/*
!templates/index.html
!templates/cassiopeia
!templates/system

# Custom Module
# Ignore everything but the custom module folder if this is a repo for just the module
# But since this is likely a dev environment, we might want to ignore standard Joomla files
# and only keep our module.
# However, usually the repo is inside the module folder.
# If d:\Web\Web-projects\Joomla\1-MODULE\custom-module is the root of the repo:

.DS_Store
Thumbs.db
node_modules
vendor
.idea
.vscode
*.log
*.zip
